header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky relative;
  height: 5rem;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50vw;
  background: #4f4e4ea4;
  backdrop-filter: blur(0.3rem);
  transform: translateX(50vw);
}

#ham-menu {
  background: none;
  border: none;
  z-index: 100;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 7rem 0;
  list-style-type: none;
}

li {
  font-size: 2rem;
  transform: translateX(50vw);
}

.right_fade_in {
  animation: right_fade_in 1s forwards ease-out;
}

.right_fade_out {
  animation: right_fade_out 1s forwards ease-out;
}

@keyframes right_fade_in {
  to {
    transform: translateX(0);
  }
}

@keyframes right_fade_out {
  to {
    transform: translateX(50vw);
  }
}
