header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 6rem;
  z-index: 100;
  background: linear-gradient(
    hsl(0, 0%, 7%) 40%,
    hsl(0, 0%, 7%, 0.9) 70%,
    hsl(0, 0%, 7%, 0)
  );
}

#logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0 0 1rem 3rem;
}

#logo {
  width: 1.3rem;
}
.menu-wrapper {
  width: fit-content;
}
nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 60vw;
  background: #4f4e4ea9;
  backdrop-filter: blur(0.4rem);
  z-index: 100;
  transform: translateX(60vw);
}

#ham-menu {
  background: none;
  border: none;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 7rem 0;
  list-style-type: none;
}

li button {
  background-color: transparent;
  border: none;
  font-family: "Poppins", sans-serif;
  color: #e2e2e2;
  font-size: 1.5rem;
  transition: all 100ms;
  text-shadow: 0 0 0.2rem hsla(0, 0%, 0%, 0.75);
  cursor: pointer;
}

li button:hover {
  text-shadow: 0 0 0.5rem #fff;
}

li button:active {
  text-shadow: 0 0 0.8rem #fff;
}

.link-start-pos {
  transform: translateX(60vw);
}

.right_fade_in {
  animation: right_fade_in 500ms forwards ease-out;
}

.right_fade_out {
  animation: right_fade_out 500ms forwards ease-in;
}

@keyframes right_fade_in {
  from {
    transform: translateX(60vw);
    filter: blur(0);
    opacity: 0;
  }
  30% {
    filter: blur(0.05rem);
  }
  70% {
    filter: blur(0.05rem);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    filter: blur(0);
  }
}

@keyframes right_fade_out {
  from {
    transform: translateX(0);
    filter: blur(0);
  }
  30% {
    filter: blur(0.05rem);
    opacity: 1;
  }
  70% {
    filter: blur(0.05rem);
  }
  90% {
    opacity: 0;
  }

  to {
    transform: translateX(60vw);
    filter: blur(0);
    opacity: 0;
  }
}
