:root {
  color: rgb(53, 53, 53);
  font-family: "Poppins", sans-serif;
}

*,
html {
  margin: 0;
  box-sizing: border-box;
}
body {
  background: hsl(0, 0%, 20%);
  color: #f2f2f2;
  height: 300vh;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0.2rem 0.2rem 0.4rem hsla(0, 0%, 0%, 0.85);
}

.home {
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home h3 {
  margin: 0 0 20vh 0;
}

#my-name-svg {
  stroke-dasharray: 170 10000;
  stroke-dashoffset: 170;
  animation: name-animation 3s forwards ease-in;
  animation-delay: 500ms;
  filter: drop-shadow(0 0 1rem hsl(34, 98%, 49%));
}

.slide-in-left {
  animation: slide-in-left 2s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes name-animation {
  80% {
    stroke-dashoffset: 0;
    stroke-linecap: round;
    fill: hsla(0, 0%, 83%, 0);
    filter: drop-shadow(0 0 0.5rem hsl(34, 100%, 67%));
  }
  100% {
    stroke-dashoffset: 0;
    stroke-linecap: round;
    fill: hsl(0, 0%, 83%);
    filter: drop-shadow(0.4rem 0.4rem 0.8rem hsla(0, 0%, 0%, 0.85));
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100vw) scale(0.1);
    filter: blur(0.3rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(1);
    filter: blur(0);
    opacity: 1;
  }
}
