:root {
  color: rgb(53, 44, 45);
  perspective: 1000px;
  transform-style: preserve-3d;
}

*,
html {
  margin: 0;
  box-sizing: border-box;
}
body {
  background: hsl(0, 0%, 20%);
  color: #f2f2f2;
  /* text-shadow: 0 0 1rem rgba(36, 36, 36, 0.8); */
}
