:root {
  font-family: "Poppins", sans-serif;
}

*,
html {
  margin: 0;
  box-sizing: border-box;
}
body {
  background: hsl(0, 0%, 7%);
  color: #e2e2e2;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0.15rem 0.15rem 0.25rem hsla(0, 0%, 0%, 0.85);
  background-image: url("../Images/svg/waves.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3 {
  font-size: 1.1rem;
}
h2,
h3 {
  color: #9728ff;
}

p {
  letter-spacing: 0.05rem;
}
#home {
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home h3 {
  margin: 0 0 20vh 0;
}

#my-name-svg-main {
  width: 20rem;
}

#my-name-svg {
  stroke-dasharray: 170 10000;
  stroke-dashoffset: 170;
  animation: name-animation 2s forwards ease-in;
  animation-delay: 500ms;
  filter: drop-shadow(0 0 1rem hsl(34, 98%, 49%));
}

#about {
  min-height: 100vh;
  min-height: 100dvh;
  max-width: 30rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about article {
  padding-bottom: 15rem;
}

#about p {
  margin-top: 1rem;
}

#projects {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  text-align: center;
  margin: 3rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.2rem;
  background: hsl(0, 0%, 45%);
}
::-webkit-scrollbar-track {
  background: hsl(0, 0%, 17%);
}

.slide {
  opacity: 0;
}

.delayed-slide {
  opacity: 0;
  animation: slide-in-left 1.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  animation-delay: 2s;
}

.slide-in-left {
  animation: slide-in-left 1.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes name-animation {
  80% {
    stroke-dashoffset: 0;
    stroke-linecap: round;
    fill: hsla(0, 0%, 83%, 0);
    filter: drop-shadow(0 0 0.3rem hsl(34, 100%, 67%));
  }
  100% {
    stroke-dashoffset: 0;
    stroke-linecap: round;
    fill: hsl(0, 0%, 83%);
    filter: drop-shadow(0.4rem 0.4rem 0.8rem hsla(0, 0%, 0%, 0.85));
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100vw);
    filter: blur(0.3rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
  }
}

@media only screen and (min-width: 1000px) {
  #my-name-svg-main {
    width: 40rem;
  }

  #my-name-svg {
    stroke-dasharray: 270 10000;
    stroke-dashoffset: 270;
  }
}
